# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages for Data Science
- Commonly used libraries
- Data Science Tools

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL
4. Julia
5. Scala & Java

Some of the commonly used libraries used by Data Scientists include
1. NumPy
2. Scikit-learn
3. TensorFlow & PyTorch
4. caret
5. ggplot2

| Data Science Tools |
| ------------------ |
| RStudio |
| Jupyter Notebook |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to multiply then add integers

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Saatvik Rajakumar